body {
    
    font-family: mrs-eaves-xl-serif, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
}

h2 {
    font-size: 45px;
    text-transform: uppercase;
    margin: 0 auto;
}

h4 {
    font-size: 23.5px;
    font-style: italic;
    font-weight: 400;
    margin: 11px 0px 11px 0px;
}

h5 {
    padding: 25px 0 0;
    margin: 0 auto;
    font-size: 15px;
    text-transform: uppercase;
}

h6{
    font-size: 13px;
    padding: 25px 0 0;
}

p {
    font-size: 15px;
    margin: 25px 0 10px 0;
}

a {
    cursor: pointer;
}

/* buttons */

.main-button{
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
}

.main-button-wrapper{
    margin: 45px 0 80px 0;
}

.back-to-top {
    color: white;
    background: none;
    border: solid 2px white;
    text-transform: uppercase;
    padding: 12.5px;
    font-size: 15px;
}

.learn-more {
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
}

.learn-more-wrapper{
    margin: 45px 0 0 0;
}

.send-mail {
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
}

.link-tribute{
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
}

/* navbar */
nav {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 30%);
    background: white;
    width: 100%;
    overflow: hidden;
    top: 0;
}

nav ul {
    padding: 0 20px;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    display: inline-block;
    padding: 0px 30px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    height: 100%;
    text-transform: uppercase;
}

/* Sub-nav */
.sub-nav-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 30%);
    background: white;
    width: 100%;
    overflow: hidden;
    top: 0;
    display: none;
}

.active{
     display: flex;
}

.sessions{
    background: none;
    border: none;
    font-family: mrs-eaves-xl-serif, serif;
    font-size: 16px;
    padding: 0px 30px 0 0;
}

.sessions:hover{
    color: grey;
}

.sub-nav-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 20px 0px 0;    
    list-style-type: none;
}

.sub-nav-div .sub-nav-list li a {
    padding: 0px 30px;
    /* text-decoration: none; */
}



/* footer */
footer {
    background: #484848;
    color: white;
    padding: 15px;
}

footer a {
    text-decoration: none;
    color:#DEDEDE;
    padding: 0 22px;
}

.fab{
    font-size: 40px;
}


a:hover {
    color: grey;
}

/* About section */
.wrapper-about {
    text-align: center;
    margin: 0 0 40px 0;
    padding: 45px 0px 45px 0;
    background-image: url("img/testimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
/* Button below about */
.button-wrapper{
    padding: 55px 0;
}
/* column services */
.col1 {
    text-align: center;
    float: left;
    width: 35%;
    margin: 0 0 0 15%;
}

.col2 {
    text-align: center;
    float: right;
    width: 34%;
    margin: 0 15% 0 0;
}

.wrapper-column::after{
    content: "";
    clear: both;
    display: table;
}

.sepv {
    float: left;
    width: 2px;
    height: 120px;
    background-color: black;
    margin-top: 60px;
}
/* Center content wrapper */
.wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 ;
}

.quote {
    font-style: italic;
    margin: -20px 0 40px 0;
}

/*Pop up */

.popup .content {
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: white;
    text-align: center;
    position: absolute;
    display: flex;
    left: 35%;
    top: 30%;
    color: #707070;
    flex-direction: column
    
}

.show{
    display: none;
}

.consent {
    padding: 10px;
}

.consent-p{
    font-size: 25px;
}
.consent-h2{
    font-size: 45px;
}

.blanket {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.exit{
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px 20px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
    margin-left: 50px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.enter {
    text-align: center;
    border: solid #484848;
    color: white;
    background: #484848;
    text-transform: uppercase;
    padding: 12.5px 12px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    font-size: 15px;
    margin-right: 50px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.logo{
    margin: 5px 0 0 10px;
    width: 120px;
}
.menu {
    display: none;
}

/* CONTACT FORM */

.wrapper-contact{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 15px 0;
}

.wrapper-form{
    text-align: center;
    margin: 10px 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    margin: 10px 0;
    font-family: serif;
    font-size: 15px;
}

textarea{
    padding: 5px;
    margin: 10px 0;
    font-family: serif;
    font-size: 15px;
    height: 100px;
}

/* TRIBUTE */
.wrapper-tribute{
    text-align: center;
    padding: 40px 400px 15px 400px;
    margin: 0 auto;
}

/* Online services */
.wrapper-online-services{
    text-align: center;
    padding: 40px 400px 15px 400px;
}

/* DUNGEON */



@media all and (max-width: 600px) {

    body{
        margin: 0 -4px 0 -4px
    }

    nav{
        flex-direction: column;
        padding: 5px 0;
    }
    /* About section */
    .wrapper-about {
        padding: 35px 40px ;
    }
    /* multi purpose wrapper */
    .wrapper{
        padding: 5px 0 15px 0;
    }

    .quote {
        padding: 10px 30px;
    }
    /* Navbar  */
   nav ul {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
   }

   nav ul li {
        display: grid;
        padding: 10px 0;
    }

    .logo {
        display: inline-flex;
        flex-direction: column;
        width: 120px;
        margin: 10px 0 0;
        align-items: center;
    }
    /* hamburger menu */
   .menu {
        display: block;
        position: absolute;
        background: none;
        border: none; 
        left: 88%;
        top: 17px;
   }

   .menu-line{
       width: 25px;
       height: 3.5px;
       background-color: black;
       margin: 5px 0;
   }

   .nav-list {
       list-style-type: none;

   }

   .active {
       display: block;
   }
   /* Column */
   .col1{
       text-align: center;
       width: 100%;
       margin: 0 auto;
   }

   .col2{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .sepv{
        display: none;
    }
/* FOOTER FOOTER FOOTER  */
    footer{
        padding: 0px;
    }

    footer a {
        padding: 0px 10px;
    }

    h6{
        font-size: 15px;
        margin: 30px 0 20px;
    }

    .back-to-top{
        padding: 10.5px;
        font-size: 14px;
    }
    /* back to top button */
    .button-wrapper{
        padding: 40px 0 30px 0px;
    }
/* POPUP POPUP POPUP */
    .popup .content {
        box-sizing: border-box;
        padding: 30px 40px;
        background-color: white;
        text-align: center;
        position: absolute;
        display: flex;
        top: 30%;
        left: auto;
        width: 100%;
        color: #707070;
        flex-direction: column
        
    }

    .consent-p{
        font-size: 20px;
    }
    .consent-h2{
        font-size: 30px;
    }
    
    /*.popup .content{
        margin: 0 auto;
        width: 200px;
        position: relative;
        top: 25%;
        padding: 30px 40px;
    
    }*/
}   


